<app-navbar></app-navbar>
<div class="container mb-10">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                <h3>Forgot Password</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            <div class="alert alert-warning text-center">
                Please enter your email address to request a password reset.
            </div>
        </div>
    </div>
    <form [formGroup]="emailForm">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-2">
            <input type="text" class="form-control"
                   [ngClass]="email.invalid && (email.dirty || email.touched) ? 'border-danger' : ''"
                   placeholder="e.g. example@email.com"
                   formControlName="email">
            <small class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <fa-icon *ngIf="email.invalid" [icon]="faExclamationCircle"></fa-icon>
                <span *ngIf="email.invalid && email.errors.required">Email required !</span>
                <span *ngIf="email.invalid && email.errors.email">Invalid Email format !</span>
            </small>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mt-2">
            <button class="btn btn-secondary btn-block"
                    (click)="onSubmit()"
                    [disabled]="!emailForm.valid">
                Reset Password
            </button>
        </div>
    </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mt-4">
            Go back to <a href="#" routerLink="/login">Login</a>
        </div>
    </div>
</div>
<app-footer></app-footer>
