<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3 text-center">
            <h3>Register Account</h3>
        </div>
    </div>
    <form [formGroup]="registerForm">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group row">
                    <label for="email" class="col-form-label col-md-4 text-right">Email Address</label>
                    <div class="col-md-6">
                        <input id="email" type="text" class="form-control"
                               placeholder="e.g. example@email.com"
                               [ngClass]="key.email.invalid && (key.email.dirty || key.email.touched) ? 'border-danger' : ''"
                               formControlName="email">
                        <small class="text-danger" *ngIf="key.email.invalid && (key.email.dirty || key.email.touched)">
                            <fa-icon *ngIf="key.email.invalid" [icon]="faExclamationCircle"></fa-icon>&nbsp;
                            <span *ngIf="key.email.invalid && key.email.errors.required">Email required !</span>
                            <span *ngIf="key.email.invalid && key.email.errors.email">Invalid Email format !</span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-form-label col-md-4 text-right">Password</label>
                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control"
                               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                               [ngClass]="key.pwd.invalid && (key.pwd.dirty || key.pwd.touched) ? 'border-danger' : ''"
                               formControlName="pwd">
                        <small class="text-danger" *ngIf="key.pwd.invalid && (key.pwd.dirty || key.pwd.touched)">
                            <fa-icon [icon]="faExclamationCircle"></fa-icon>&nbsp;
                            <span *ngIf="key.pwd.invalid && key.pwd.errors.required">Password required !</span>
                            <span *ngIf="key.pwd.invalid && key.pwd.errors.minlength">Password must have at least 6 characters !</span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="passwordVer" class="col-form-label col-md-4 text-right">Password Verification</label>
                    <div class="col-md-6">
                        <input id="passwordVer" type="password" class="form-control"
                               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                               [ngClass]="key.pwdVer.invalid && (key.pwdVer.dirty || key.pwdVer.touched) ? 'border-danger': ''"
                               formControlName="pwdVer">
                        <small class="text-danger"
                               *ngIf="key.pwdVer.invalid && (key.pwdVer.dirty || key.pwdVer.touched)">
                            <fa-icon *ngIf="key.pwdVer.invalid" [icon]="faExclamationCircle"></fa-icon>&nbsp;
                            <span *ngIf="key.pwdVer.invalid && key.pwdVer.errors.required">Password Verification required !</span>
                            <span
                                *ngIf="key.pwdVer.invalid && key.pwdVer.errors.mustMatch">Password do not match !</span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!registerForm.valid"
                        (click)="authService.signUp(key.email.value, key.pwd.value)">
                    Sign Up
                </button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <hr>
            Already have an account?&nbsp;
            <a href="#" routerLink="/login">Sign In Here</a>
            <div class="mt-3">
                Or Sign Up With <br>
                <button type="button" class="btn btn-google mt-2" (click)="authService.googleAuth()">
                    <fa-icon [icon]="faGoogle"></fa-icon>&nbsp;&nbsp;|&nbsp;
                    <b>Google</b>
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
