<app-navbar></app-navbar>
<div class="container mb-10">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="assets/images/me.jpeg" class="img-fluid img-thumbnail">
            <div class="text-center mt-4">
                <h3>Sign In</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <form class="col-md-4" [formGroup]="loginForm">
            <label for="email" class="sr-only">Email</label>
            <small class="text-danger" *ngIf="key.email.invalid && (key.email.dirty || key.email.touched)">
                <fa-icon *ngIf="key.email.invalid" [icon]="faExclamationCircle"></fa-icon>&nbsp;
                <span *ngIf="key.email.invalid && key.email.errors.required">Email required !</span>
                <span *ngIf="key.email.invalid && key.email.errors.email">Invalid Email format !</span>
            </small>
            <input id="email" type="text" class="form-control mb-2" placeholder="Email Address"
                   [ngClass]="key.email.invalid && (key.email.dirty || key.email.touched) ? 'border-danger' : ''"
                   formControlName="email">
            <label for="password" class="sr-only">Password</label>
            <small class="text-danger" *ngIf="key.pwd.invalid && (key.pwd.dirty || key.pwd.touched)">
                <fa-icon *ngIf="key.pwd.invalid" [icon]="faExclamationCircle"></fa-icon>&nbsp;
                <span *ngIf="key.pwd.invalid && key.pwd.errors.required">Name required !</span>
                <span *ngIf="key.pwd.invalid && key.pwd.errors.minlength">Name must have at least 5 characters !</span>
            </small>
            <input id="password" type="password" class="form-control" placeholder="Password"
                   [ngClass]="key.pwd.invalid && (key.pwd.dirty || key.pwd.touched) ? 'border-danger' : ''"
                   formControlName="pwd">
            <button type="submit" class="btn btn-primary btn-block mt-4"
                    [disabled]="!loginForm.valid"
                    (click)="authService.signIn(key.email.value, key.pwd.value)">
                Sign In
            </button>
            <div class="text-center">
                <a href="#" routerLink="/forgot">
                    <small>Forgot Password</small>
                </a>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <hr>
            Doesn't have an account?&nbsp;
            <a href="#" routerLink="/register">Create Now!</a>
            <div class="mt-3">
                Or Sign In With <br>
                <button type="button" class="btn btn-google mt-2" (click)="authService.googleAuth()">
                    <fa-icon [icon]="faGoogle"></fa-icon>&nbsp;&nbsp;|&nbsp;
                    <b>Google</b>
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
