<app-navbar></app-navbar>
<div class="container mb-10">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                <h3>Thank you for registering</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            <div class="alert alert-success text-center" *ngIf="authService.userData as user">
                <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mt-2">
            <button type="button" class="btn btn-primary btn-block" (click)="authService.sendVerification()">
                <fa-icon [icon]="faRedoAlt"></fa-icon>&nbsp;&nbsp;
                Resend Verification Email
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mt-4">
            Go back to <a href="#" routerLink="/login">Login</a>
        </div>
    </div>
</div>
<app-footer></app-footer>


<!--<div class="displayTable">-->
<!--    <div class="displayTableCell">-->
<!--        <div class="authBlock">-->
<!--            <h3>Thank You for Registering</h3>-->
<!--            <div class="formGroup" *ngIf="authService.userData as user">-->
<!--                <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>-->
<!--                <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; Calling SendVerificationMail() method using authService Api &ndash;&gt;-->
<!--            <div class="formGroup">-->
<!--                <button type="button" class="btn btnPrimary" (click)="authService.sendVerification()">-->
<!--                    <i class="fas fa-redo-alt"></i>-->
<!--                    Resend Verification Email-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="redirectToLogin">-->
<!--            <span>Go back to?<span class="redirect" routerLink="/login"> Sign in</span></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
