<div class="col-md-10 mt-3">
    <hr>
    <div class="row">
        <div class="col col-md-12">
            <strong>Friends : </strong>
            <div class="float-right">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </div>
                    </div>
                    <label for="search" class="sr-only">Search</label>
                    <input id="search" type="text" class="form-control form-control-sm"
                           placeholder="Search here..." [(ngModel)]="term">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered table-sm" *ngIf="friends?.length > 0; else noData">
                <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Contact No.</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let friend of friends | filter: term; let i = index">
                    <td class="text-center">{{ i+1 }}</td>
                    <td class="text-center">{{ friend.name }}</td>
                    <td class="text-center">{{ friend.email }}</td>
                    <td class="text-center">{{ friend.contact }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-danger" title="Hapus">
                            <fa-icon [icon]="faTrash" class="fa-sm"></fa-icon>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <ng-template #noData>
                <div class="alert alert-warning text-center">
                    No Data Found.
                </div>
            </ng-template>

        </div>
    </div>
</div>
