/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

html, body, div, p, span, h1, h2, h3, h4, h5, table, th, td, li, small, b, input, button, a {
    font-family: 'Titillium Web', sans-serif !important;
}

.mb-10 {
    margin-bottom: 5rem;
}

a {
    outline: none !important;
}

.btn-google {
    color: #fff !important;
    background-color: #cf4332 !important;
    border-color: #cf4332 !important;
}
